{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"func-style": "off",
	},

	"overrides": [
		{
			"files": "browser.js",
			"rules": {
				"global-require": "off",
			},
		},
		{
			"files": [
				"browser.*.js",
			],
			"rules": {
				"no-underscore-dangle": "warn",
				"sort-keys": "off",
			},
		},
	],
}
